<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>MVC With Burgers!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgers.js"></script>
</head>

<body>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/burger/1">Go to burger 1</a></li>
		</ul>
	</nav>
	{{{ body }}}
	<footer>Made by Ian</footer>
</body>

</html>


<!-- Good -->
